.layout{
    width: 600px;
    margin: 0 auto;
}
.layout>div{
    margin-top: 30px;
}
.h-alert{
    color: #fff;
    padding: 1px 16px;
    line-height: 1.5;
    border-radius: 3px;
}
.h-alert.close{
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}
.h-alert>h3{
    font-size: 24px;
    font-weight: bold;
    margin:10px 0;
}
.h-alert.success{
    background-color: #4caf50;
}
.h-alert.info{
    background-color: #2196f3;
}
.h-alert.danger{
    background-color: #f44336;
}
.h-alert.warning{
    background-color: #ff9800;
}
a{
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}